@use  '../1-base/variables'
@import '../3-modules/_mixins'

.banner-bike
    background: linear-gradient(45deg, blue, red)
    position: absolute
.overlay-bike
    width: 100vw
    height: 30vw

    margin-border: border-box
    z-index: 2
    position: relative
    top: 0
    background-color: #0e0e0e7a
    display: flex

    align-content: flex-end
    justify-content: center
.title-bike
    text-trasnform: uppercase
    margin-bottom: 1rem
    color: #fff
    text-align: center
    display: grid
    align-content: end
    justify-content: center
.container-baner-bike
    height: 35vw
    width: 100vw
.gallery-img
    display: grid
    align-content: center
    justify-content: center
    grid-template-columns: 1fr 1fr 1fr
