@use  '../1-base/variables'

.top-menu
    background-color: variables.$secondary-color
    width: 100%
    justify-content: center
    display: flex
    align-items: center
    height: 80px

    &-navigation
        justify-content: center
        align-items: center
        ul
            align-content: center
            display: flex
            a
                text-transform: uppercase
                text-weight: bold
                padding-right: 1rem
    &-social-midia i
        font-size: 1.3rem
        padding-right: .4rem

.navbar
    aling-itens: center
    justify-items: center

.nav-brand
    max-width: 200px
