@use  '../1-base/variables'
@import '../3-modules/_mixins'

.banner-container img
    @include center-img()
    width: 100%

.call-container
    display: flex
    justify-content: center
    align-content: center
    &-content
        padding: 8px
        justify-content: center
        align-content: center
        & img
            margin: 8px

.gallery-container
    display: flex
    flex-direction: column
    background-color: variables.$primary-color
    padding: 8px
    margin-top: 8px
    height: 400px

    &-top, h2
        justify-content: center
        text-align: center
        color: #fff

        &-nav
            display: flex
            justify-content: space-between
            h3
                margin: 8px
                background-color: variables.$button
                color: #fff
                padding: 8px
                cursor: pointer
                font-size: 1rem
                text-transform: uppercase

                &:hover
                    color: variables.$secondary-color
                    background-color: variables.$button
