@use '../1-base/_variables'
@import '../3-modules/_mixins'
.onde-title
    margin: 40px 0
    h1
        font-size: 1.5rem

.label-search
    font-size: 1.2rem

.onde-pesquise
    margin: 80px 0

.button-encontre
    background-color: #0084ff
    border: none
    font-size: 1.2rem
    width: 300px
    color: #fff

.onde-map
    justify-content: center
    align-items: center
    margin: 80px 0

.onde-information
    margin-top: 40px
    div
        h2
            color: variables.$button
        .bi-telephone-fill, .bi-geo-alt-fill
            color: variables.$button
